*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}
.main-menu{
    width: 1532px;
    margin: auto;
}

.clear::after{
    content: "";
    display: block;
    clear: both;
}
.fixed-width{
    width: 1080px;
    margin: auto;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
img{
    max-width: 100%;
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}
/* Header part */
.header{
    background-color: #ffffff;
    padding: 5px 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999999;
}
.logo{
    width: 30%;
}
.header-span {
	font-size: 26px;
	line-height: 57px;
	padding-left: 16px;
	font-weight: 500;
    transition: .3s;
}
.header-span:hover{
    color: #a09999;
    cursor: pointer;
}
.image {
	width: 50px;
	margin-top: 5px;
}
.menu{
    width: 57%;
}
.menu-item{
   
}
.menu-item ul{
    list-style: none;
}
.menu-item ul li{
    display: inline-block;
}
.menu-item ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: black;
    display: block;
    line-height: 60px;
    transition: .5s;
}
.menu-item ul li a:hover{
    color: #6278df;
}
.button{
    width: 13%;
}
.defalt-button {
	display: inline-block;
	padding: 8px 23px;
	font-size: 17px;
	font-weight: 700;
	margin-top: 10px;
    border: none;
    border: 2px solid #6278df;
    border-radius: 6px;
    background-color: white;
    color: #6278df;
    text-decoration: none;
    transition: .5s;
   
}
.defalt-button:hover{
    background-color: #6278df;
    color: white;
    box-shadow: 2px 2px 21px -2px #6278df;
}
/* drop down menu */
.menu-item ul li{
    position: relative;
}
.menu-item ul li ul{
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    /* transition: .1s; */
    width: 199px;
}
.menu-item ul li:hover ul{
    opacity: 1;
    visibility: visible;
}
.menu-item ul li:nth-child(3):hover ul{
    width: 250px;
}

.menu-item ul li ul li{
    display: block;
    border-top: 1px solid #ddd;
}
.menu-item ul li ul :nth-child(1){
    border-top: none;
}
.menu-item ul li ul li a{
    display: block;
    transition: .4s;
}
.menu-item ul li ul li a:hover{
    color: #6278df;
}
/* banner */
.banner{
    background-image: url(./mbr-4.jpg);
    background-position: center center;
    background-size: cover;
    padding: 180px;
    position: relative;
}
.banner::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    position: absolute;
    top: 0;
    left: 0;
}
.banner-contant h4 {
	color: white;
	font-weight: 400;
	font-size: 26px;
	position: relative;
	top: -43px;
	left: 0;
}
.banner-contant h2 {
	color: white;
	font-size: 60px;
	position: relative;
	top: -1px;
	left: 0;
}
.btn {
	text-decoration: none;
	background-color: white;
	color: #7d7d7d;
	display: inline-block;
	width: 203px;
	height: 64px;
	line-height: 64px;
	border-radius: 6px;
	font-size: 22px;
	font-weight: 500;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	top: 40px;
	left: 0;
    transition: .5s;
}
.btn:hover{
    color: white;
    background-color: #6278df;
}
/* container */
.left-content{
    width: 48%;
}

.right-content{
    width: 48%;
}
.container{
    padding: 80px 0;
    background-color: #f7f9ff;
    width: 100%;
    height: 360px;
}
.right-content h1 {
	font-size: 37px;
	font-weight: 400;
}
.right-content p {
	font-size: 23px;
	margin-top: 22px;
	color: #867687;
	font-weight: 300;
}
/* learn-more */
.learn-div {
	width: 31%;
	background-color: white;
	box-sizing: border-box;
	padding: 20px;
	height: 220px;
	margin-right: 15px;
	margin-top: 20px;
	margin-left: 8px;
    box-shadow: 3px 4px 30px 0 rgba(98,120,223,.2);
}
.icon{
    width: 20%;
}
.lorem{
    width: 70%;

}

.learn-more{
    background-color: #ffffff;
    height: 800px;
}

.learn-more h1 {
	padding-top: 61px;
	font-size: 47px;
	padding-bottom: 30px;
}
.learn-p {
	font-size: 24px;
	font-weight: 300;
	padding-bottom: 50px;
    color: #818181;
}
.icon i{
    color: #6278df;
    font-size: 40px;
    margin-top: 30px;
}
.lorem p {
	font-size: 16px;
	margin-top: 30px;
	color: #867e7a;
}
.lorem h3 {
	font-weight: 500;
	font-size: 22px;
    margin-top: 30px;
}